:root {
  color-scheme: dark;
  --green: #b8ffd2;
  --dim: #6e7f77;
  --red: #ff5c5c;
  --paper: #d8d0b8;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background: #020303;
  overflow: hidden;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Courier New", ui-monospace, monospace;
  color: var(--green);
}

#game-shell {
  position: relative;
  width: min(100vw, 1366px, calc(100vh * 16 / 9));
  aspect-ratio: 16 / 9;
  max-height: 100vh;
  background: #050606;
  box-shadow: 0 0 80px #000 inset, 0 0 38px #07110d;
}

#game {
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#crt-overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  opacity: .23;
  mix-blend-mode: screen;
  background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, .08) 0 1px, transparent 1px 4px), radial-gradient(circle at 50% 45%, transparent 0 58%, rgba(0, 0, 0, .72) 100%);
  animation: flicker 7s infinite steps(18);
}

@keyframes flicker {
  0%,
  100% {
    opacity: .20;
  }

  48% {
    opacity: .29;
  }

  51% {
    opacity: .14;
  }

  54% {
    opacity: .25;
  }
}
